In [1]:
import sqlite3

In [1]:
from google.colab import files
uploaded = files.upload()

Saving database_new.sqlite to database_new.sqlite

In [2]:
conn = sqlite3.connect('/content/database_new.sqlite')

In [3]:
pd.read_sql(""" SELECT *
                FROM sqlite_master
                WHERE type='table';""",
           conn)
#8 tables

    type  ...                                                sql
0  table  ...             CREATE TABLE sqlite_sequence(name,seq)
1  table  ...  CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2  table  ...  CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3  table  ...  CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4  table  ...  CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5  table  ...  CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6  table  ...  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
7  table  ...  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

[8 rows x 5 columns]

In [5]:
pd.read_sql(""" SELECT *
                FROM Country;""",
           conn)
# 11 rows, name and id of country

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [9]:
pd.read_sql(""" SELECT *
                FROM League;""",
           conn)
#11 leagues

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [10]:
pd.read_sql(""" SELECT *
                FROM Match;""",
           conn)
#25000+rows, 115 cols with lots of NAN values

          id  country_id  league_id     season  ...   GBA   BSH   BSD   BSA
0          1           1          1  2008/2009  ...  4.00  1.73  3.40  4.20
1          2           1          1  2008/2009  ...  3.75  1.91  3.25  3.60
2          3           1          1  2008/2009  ...  2.50  2.30  3.20  2.75
3          4           1          1  2008/2009  ...  5.50  1.44  3.75  6.50
4          5           1          1  2008/2009  ...  1.65  4.75  3.30  1.67
...      ...         ...        ...        ...  ...   ...   ...   ...   ...
25974  25975       24558      24558  2015/2016  ...   NaN   NaN   NaN   NaN
25975  25976       24558      24558  2015/2016  ...   NaN   NaN   NaN   NaN
25976  25977       24558      24558  2015/2016  ...   NaN   NaN   NaN   NaN
25977  25978       24558      24558  2015/2016  ...   NaN   NaN   NaN   NaN
25978  25979       24558      24558  2015/2016  ...   NaN   NaN   NaN   NaN

[25979 rows x 115 columns]

In [ ]:
pd.read_sql(""" SELECT *
                FROM Team;""",
           conn)
# 299 teams

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [38]:
CountryLeagueMatch = pd.read_sql("""SELECT League.name as league_name, Country.name as country_name, 
                                    Match.season, stage, Team.team_long_name as home_team_name, 
                                    away_info.away_team_name, Match.home_team_goal,	Match.away_team_goal 
                                    FROM League
                                    JOIN Country ON Country.id = League.country_id
                                    join Match on Match.country_id = League.country_id
                                    join Team on Team.team_api_id = Match.home_team_api_id
                                    join (SELECT Match.away_team_api_id , Team.team_long_name as away_team_name
                                    FROM Match
                                    join Team on Team.team_api_id = Match.away_team_api_id) as away_info
                                    on away_info.away_team_api_id = Match.away_team_api_id      
                                    order by league_name, season, home_team_name, away_team_name	             
                                              ;""", conn)
CountryLeagueMatch
#combine country, match, and league, and replace team id by team name

                      league_name country_name  ... home_team_goal  away_team_goal
0          Belgium Jupiler League      Belgium  ...              2               0
1          Belgium Jupiler League      Belgium  ...              2               0
2          Belgium Jupiler League      Belgium  ...              2               0
3          Belgium Jupiler League      Belgium  ...              2               0
4          Belgium Jupiler League      Belgium  ...              2               0
...                           ...          ...  ...            ...             ...
2950450  Switzerland Super League  Switzerland  ...              0               1
2950451  Switzerland Super League  Switzerland  ...              0               1
2950452  Switzerland Super League  Switzerland  ...              0               1
2950453  Switzerland Super League  Switzerland  ...              0               1
2950454  Switzerland Super League  Switzerland  ...              0               1

[2950455 rows x 8 columns]

In [91]:
CountryLeagueMatch = pd.read_sql("""SELECT League.name as league_name, Country.name as country_name, 
                                    Match.season, Team.team_long_name as home_team_name,
                                    round(avg(Match.home_team_goal),2) as avg_hometeam_goal,	
                                    round(avg(Match.away_team_goal),2) as avg_awayteam_goal,
                                    CASE WHEN round(avg(Match.home_team_goal),2) > round(avg(Match.away_team_goal),2)  then 'Win'
                                         WHEN round(avg(Match.home_team_goal),2) = round(avg(Match.away_team_goal),2)  then 'Draw'
                                         ELSE 'Lose'
                                         END AS 'Lose/Win'
                                    FROM League
                                    JOIN Country ON Country.id = League.country_id
                                    join Match on Match.country_id = League.country_id
                                    join Team on Team.team_api_id = Match.home_team_api_id
                                    where home_team_name in ('Beerschot AC')
                                    group by league_name, season
                                    order by league_name, Season            
                                                          ;""", conn)
CountryLeagueMatch
#find the average goal of Beerschot AC as home team in each season and compare the average home team goal with average away team goal
#using CASE to identify the status of the comparison

              league_name country_name  ... avg_awayteam_goal Lose/Win
0  Belgium Jupiler League      Belgium  ...              1.12      Win
1  Belgium Jupiler League      Belgium  ...              1.57     Lose
2  Belgium Jupiler League      Belgium  ...              0.67      Win
3  Belgium Jupiler League      Belgium  ...              0.87      Win
4  Belgium Jupiler League      Belgium  ...              2.27     Lose

[5 rows x 7 columns]

In [ ]:
pd.read_sql(""" SELECT *
                FROM Team_Attributes;""",
           conn)
#1458 rows, may combine with other tables

        id  team_fifa_api_id  ...  defenceTeamWidthClass defenceDefenderLineClass
0        1               434  ...                 Normal                    Cover
1        2               434  ...                 Normal                    Cover
2        3               434  ...                 Normal                    Cover
3        4                77  ...                   Wide                    Cover
4        5                77  ...                 Normal                    Cover
...    ...               ...  ...                    ...                      ...
1453  1454             15005  ...                 Normal                    Cover
1454  1455             15005  ...                 Normal                    Cover
1455  1456             15005  ...                 Normal                    Cover
1456  1457             15005  ...                 Normal                    Cover
1457  1458             15005  ...                 Normal                    Cover

[1458 rows x 25 columns]

In [30]:
teams_have_attributes = pd.read_sql(""" select count(number) from 
                             (SELECT count(*) as number
                             FROM Team_Attributes
                             group by team_api_id);""",
           conn)
teams_have_attributes
#only 288 teams have record of attributes while there totally 299 teams

   count(number)
0            288

In [80]:
pd.read_sql(""" SELECT Team.team_api_id, Team.team_long_name
                FROM Team
                join
                (SELECT Team.team_api_id
                FROM Team
                Except 
                select Team_Attributes.team_api_id 
                from Team_Attributes) as exception
                on Team.team_api_id = exception.team_api_id
                order by team_api_id;""",
           conn)
#extract the teams which didn't have attributes records

    team_api_id                team_long_name
0          4049                        Tubize
1          4064                      Feirense
2          6367              Uniao da Madeira
3          6601                   FC Volendam
4          7896                        Lugano
5          7947                 FCV Dender EH
6          7992                      Trofense
7          9765                  Portimonense
8         10213                       Amadora
9        177361  Termalica Bruk-Bet Nieciecza
10       188163                       Tondela

In [83]:
teams_details = pd.read_sql("""SELECT avg(buildUpPlaySpeed) as avg_buildUpPlaySpeed, Team.team_api_id, 
                               Team.team_long_name from Team
                               left join Team_Attributes
                               on Team.team_api_id = Team_Attributes.team_api_id
                               group by Team.team_api_id
                               order by avg(buildUpPlaySpeed) desc
                               limit 5 ;""", conn)
teams_details
#top 5 team which got the fastest play speed

   avg_buildUpPlaySpeed  team_api_id       team_long_name
0             72.500000         9789    Borussia Dortmund
1             71.000000         8600              Udinese
2             70.000000         8596              Falkirk
3             67.000000       158085            FC Arouca
4             66.833333         8178  Bayer 04 Leverkusen

In [ ]:
pd.read_sql(""" SELECT *
                FROM Player;""",
           conn)
#11060 rows, 7cols, over 10k players? any overlap?

          id  player_api_id  ...  height  weight
0          1         505942  ...  182.88     187
1          2         155782  ...  170.18     146
2          3         162549  ...  170.18     163
3          4          30572  ...  182.88     198
4          5          23780  ...  182.88     154
...      ...            ...  ...     ...     ...
11055  11071          26357  ...  182.88     168
11056  11072         111182  ...  182.88     176
11057  11073          36491  ...  180.34     154
11058  11074          35506  ...  185.42     172
11059  11075          39902  ...  180.34     176

[11060 rows x 7 columns]

In [ ]:
pd.read_sql(""" SELECT *
                FROM Player_Attributes;""",
           conn)
#180k rows, 42 cols

            id  player_fifa_api_id  ...  gk_positioning gk_reflexes
0            1              218353  ...             8.0         8.0
1            2              218353  ...             8.0         8.0
2            3              218353  ...             8.0         8.0
3            4              218353  ...             7.0         7.0
4            5              218353  ...             7.0         7.0
...        ...                 ...  ...             ...         ...
183973  183974              102359  ...            20.0        20.0
183974  183975              102359  ...            20.0        20.0
183975  183976              102359  ...            20.0        20.0
183976  183977              102359  ...            20.0        20.0
183977  183978              102359  ...             7.0        15.0

[183978 rows x 42 columns]

In [26]:
pd.read_sql(""" SELECT Player.player_api_id, player_name, date, height, 
                max(overall_rating) as max_rating
                FROM Player
                join
                (select Player_Attributes.player_api_id  as player_id, date, 
                 overall_rating from Player_Attributes
                 where date >= '2010-01-01 00:00:00') as date_selection
                on date_selection.player_id = Player.player_api_id
                group by player_name
                having height >= 180
                order by max_rating desc, height desc
                limit 10
               ;""",
           conn)

#find top 10 max score graded after 2010 (players are higher than 180and the exact time graded

   player_api_id         player_name                 date  height  max_rating
0          30893   Cristiano Ronaldo  2015-10-16 00:00:00  185.42          93
1          35724  Zlatan Ibrahimovic  2014-10-17 00:00:00  195.58          90
2          27299        Manuel Neuer  2016-04-21 00:00:00  193.04          90
3          30657       Iker Casillas  2010-02-22 00:00:00  185.42          90
4          40636         Luis Suarez  2015-10-16 00:00:00  182.88          90
5          30834        Arjen Robben  2015-09-25 00:00:00  180.34          90
6          30865       Nemanja Vidic  2012-08-31 00:00:00  190.50          89
7          30843    Robin van Persie  2014-05-23 00:00:00  187.96          89
8          30989         Julio Cesar  2010-02-22 00:00:00  185.42          89
9          37482        Gerard Pique  2012-02-22 00:00:00  193.04          88